* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

.container{
    width: 100%;
    display: flex;
    padding: 0 20px;

}

.slide{
    height: 40vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: aliceblue;
    flex: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.7s ease-in-out;
    filter: blur(4px);
}

.slide h5{
    position: absolute;
    font-size: clamp(iremp, 5vw, 5rem);
    bottom: 20px;
    left: 20px;
    color: black;
    margin: 0;
    opacity: 0;
    background-color: rgb(255, 0, 0);
    background-image: linear-gradient(-225deg, #ff0000 0%, #7a7a7a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.slide.active{
    flex: 10;
    filter: blur(0px);
}

.slide.active h5{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/* responsive */

@media screen and (max-width: 50rem) {
    .container {
        display: flex;
        height: 40vh;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content:center;
    
    }
    
    .slide{
        width: 40vh;
        border-radius: 40px;
        margin: 10px;
    
    }

}